.rojo{
	background: #800000;
	height: 100px;
	width: 200px;
}
.amarillo{
	background: #808000;
	height: 100px;
	width: 200px;
}
.verde{
	background: #008000;
	height: 100px;
	width: 200px;
}